# build output
dist/
build/

# database
db/

# dependencies
node_modules/

# logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*


# environment variables
.env
.env.production
.env.development.local

.netlify
# macOS-specific files
.DS_Store

# test related
/test-results/
/playwright-report/
/playwright/.cache/
/cypress/e2e/2-advanced-examples
.vercel
