---
interface Props {
    phase: string;
    index: number;
    date: Date;
    min: Date;
}

const { phase, index, date } = Astro.props;
console.log(phase, index, date)

const toDateTimeLocal = (date: Date): string => {
  const isoString = date.toISOString();
  return isoString.slice(0, 16);
};


---

<div class="flex flex-col justify-center items-center">
  <form action="/api/date-change" method="POST">
    <input type="hidden" name="phase" value={phase} />
    <input type="hidden" name="index" value={index.toString()} />
    <input type="datetime-local" name="date" value={toDateTimeLocal(date)}/>
    <noscript>
      <button type="submit">Set Date</button>
    </noscript>
  </form>
</div>
