---
import { t } from 'astro-i18n';
import { durationToSlider } from '@utils/logslider';


interface Props {
    phase: string;
    duration: number;
}

const { phase, duration } = Astro.props;
---  
<div> 
  <span>{ () => t('duration') }:&nbsp;</span>
  <span id="duration" class="text-success"></span>
  <br/>
  <p>{duration}</p>
  <p>{durationToSlider(duration)}</p>
  <input type="range" min="1" max="184" class="range" value={durationToSlider(duration)} />
</div>
