---
import { formatDateInTimezone } from '@utils/dateUtils';
import { Translator } from '@utils/i18n.js';

const translator = new Translator(Astro.currentLocale || 'en');
await translator.init();

interface Props {
  id: string;
  index: number;
  date: Date;
  min: Date;
  timezone: string;
}

const {  id, index, date, min, timezone } = Astro.props;

---
<div id={id} class="flex justify-between items-center flex-wrap">
  <h4>{index == 0 ? translator.t(`phases.startAt`) : translator.t(`phases.endsAt`)}</h4>
  <input type="datetime-local" min={formatDateInTimezone(min.getTime(), timezone)} name={id} value={formatDateInTimezone(date.getTime(), timezone)} />
</div>
