---
import { Translator } from '@utils/i18n.js';
const translator = new Translator(Astro.currentLocale || 'en'); import { durationToSlider } from '@utils/logslider';


interface Props {
  id: string;
  duration: number;
}

const { id, duration } = Astro.props;
const initialSliderValue = durationToSlider(duration);

---  

<div id={id}> 
  <span>{ translator.t('setup.duration') }:&nbsp;</span>
  <span class="duration-display" class="text-success"></span>
  <br/>
  <input type="range" min="1" max="165" class="range" name={id} value={initialSliderValue} />
</div>