---
interface Props {
    phase: string;
    index: number;
}

const { phase, index } = Astro.props;

---

<div class="flex flex-col justify-center items-center">
    <form action="/api/date-change" method="POST">
      <input type="hidden" name="phase" value={phase} />
      <input type="hidden" name="index" value={index.toString()} />
      <input type="datetime-local" name="date" />
      <button type="submit">Set Date</button>
    </form>
  </div>
