---
import DatetimePicker from '@components/datetime/DatetimePicker.astro';
import DatetimeSlider from '@components/datetime/DatetimeSlider.astro';
import { t } from 'i18next';

interface Props {
    phase: string
}

const { phase } = Astro.props;
const title = t(`phases.${phase}.title`)
---

<div>
  <h3 class="title">{ title }</h3>
  <h4>{ t(`phases.startAt`) }:</h4>
  <DatetimePicker phase={phase} index={0} />
  <h4>{ t(`phases.endsAt`) }:</h4>
  <DatetimePicker phase={phase} index={1} />
  
  <DatetimeSlider phase={phase} />
  <br/>
</div>  

