---
import logo from "assets/logo.png";
import i18next, { t } from "i18next";
import { localizePath } from "astro-i18next";
import ISO6991 from "iso-639-1";
import { Icon } from 'astro-icon';
import ThemeSelector from '@/ui/ThemeSelector.astro';

const supportedLanguages = i18next.languages;
const currentLanguage = i18next.language;
const { pathname } = Astro.url;

---

<header>
  <div class="navbar bg-base-100">
    <div class="flex-1 items-center">
      <a href={localizePath('/', currentLanguage)}>
            <img width="48" id="logo" alt="Ukuvota logo" class="p-2" src={logo.src} />
      </href>

    
      <a class={'btn btn-link ' + (pathname.includes('/about') ? 'selected' : '')} href={localizePath('/about')}>
        {i18next.t('buttons.about')}
      </a>
    </div>
    <div class="flex-none items-center">

      <select class="select select-xs mx-2" onchange="location = this.value">
        {supportedLanguages.map(lang => (
          <option 
            selected={lang === currentLanguage} 
            value={localizePath(pathname, lang)}>
            {ISO6991.getNativeName(lang)}
          </option>
        ))}
      </select>

      <ThemeSelector>
        <Icon class="icon-sun" width="22" name="sun" />
        <Icon class="icon-moon" width="22" name="moon" />
      </ThemeSelector>
    </div>
  </div>
</header>

<style is:inline>

    .icon-sun { display: none; }
    .icon-moon { display: block; }

    :global(.dark) .icon-sun { display: block; }
    :global(.dark) .icon-moon { display: none; }
</style>