---
import logo from "assets/logo.png";
import i18next, { t } from "i18next";
import { localizePath } from "astro-i18next";
import ISO6991 from "iso-639-1";
import { Icon } from 'astro-icon';
import ThemeSelector from '@/ui/ThemeSelector.astro';

const supportedLanguages = i18next.languages;
const currentLanguage = i18next.language;
const { pathname } = Astro.url;

---

<header>
    <nav class="flex items-center">
      <a href={localizePath('/', currentLanguage)}>
            <img width="48" id="logo" alt="Ukuvota logo" class="p-2" src={logo.src} />
      </href>

    
      <a class={'btn btn-link ' + (pathname.includes('/about') ? 'selected' : '')} href={localizePath('/about')}>
        {i18next.t('buttons.about')}
      </a>
    </nav>
    <div class="flex items-center">

      <select class="select select-xs mx-2" onchange="location = this.value">
        {supportedLanguages.map(lang => (
          <option 
            selected={lang === currentLanguage} 
            value={localizePath(pathname, lang)}>
            {ISO6991.getNativeName(lang)}
          </option>
        ))}
      </select>

      <ThemeSelector>
        <Icon class="icon-sun" width="22" name="sun" />
        <Icon class="icon-moon" width="22" name="moon" />
      </ThemeSelector>
    </div>
</header>

<style is:inline>
    header {
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 10px 20px;
        position: fixed;
        top: 0;
        left: 0;
        right: 0;
        box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.1);
        z-index: 1000;
    }

    nav {
        display: flex;
        gap: 15px;
    }

    .icon-sun { display: none; }
    .icon-moon { display: block; }

    :global(.dark) .icon-sun { display: block; }
    :global(.dark) .icon-moon { display: none; }
</style>