---
import logo from '@assets/logo.png';
import i18next, { t } from 'i18next';
import { localizePath } from 'astro-i18next';
import ISO6991 from 'iso-639-1';
import { Icon } from 'astro-icon';

const supportedLanguages = i18next.languages;
const currentLanguage = i18next.language;
const { pathname } = Astro.url;

const theme = (Astro.cookies.get('theme')?.value || 'light') as string;
console.log(theme);
---

<header>
  <div class="navbar bg-base-100">
    <div class="flex-1 items-center">
      <img width="48" id="logo" alt="Evotico logo" class="p-2" src={logo.src} />
      
      <a class={'btn btn-link ' + (pathname.includes('/about') ? 'selected' : '')} href={localizePath('/about')}>
        {i18next.t('buttons.about')}
      </a>
      <a class={'btn btn-link ' + (pathname.includes('/dashboard') ? 'selected' : '')} href={localizePath('/dashboard')}>
        {i18next.t('buttons.dashboard')}
      </a>
    </div>
    <div class="flex-none items-center">

      <select class="select select-xs mx-2" onchange="location = this.value">
        {supportedLanguages.map(lang => (
          <option 
            selected={lang === currentLanguage} 
            value={localizePath(pathname, lang)}>
            {ISO6991.getNativeName(lang)}
          </option>
        ))}
      </select>

      <form action="/api/theme" method="POST">
        <input type="hidden" name="theme" value={theme === 'light' ? 'dark' : 'light'} />
        <button type="submit" class="btn btn-ghost btn-sm">
          { theme === 'dark' ? (
            <Icon class="icon-sun" width="22" name="sun" />
            ) : ( <Icon class="icon-moon" width="22" name="moon" /> 
          )}
        </button>
      </form>
    </div>
  </div>
</header>
