---
import { t, changeLanguage } from "i18next";
import BaseLayout from "layouts/BaseLayout.astro";
import ProcessInfo from "@/process/ProcessInfo.astro";
import { processes } from "stores/userStore";
import { localizePath } from "astro-i18next";

changeLanguage("en");

const allProcesses = processes.get();
---

<BaseLayout title={t('buttons.dashboard')} description={t('description')}>
  {allProcesses.length > 0 ? (
    <div>
      {allProcesses.map(uuid => (
        <ProcessInfo uuid={uuid} />
      ))}
      <form action="/api/export" method="get">
        <button class="btn-floating" id="exportButton" type="submit">
          {t('dashboard.export')}
        </button>
      </form>
  </div>
  ) : (
    <div class="empty-state">
      <p>{t('dashboard.noProcesses')}</p>
      <p>{t('dashboard.beginProcess')}</p>
      <div class="absolute right-5 bottom-20">
        <label for="modalToggle" class="btn btn-primary btn-circle fixed right-5 bottom-20">
          <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" class="inline-block w-6 h-6 stroke-current">
            <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M12 5v14m7-7H5"></path>
          </svg>
        </label>
        <input type="checkbox" id="modalToggle" class="modal-toggle" />

        <div class="modal modal-bottom sm:modal-middle">
          <div class="modal-box">
            <label for="modalToggle" class="btn btn-sm btn-circle absolute right-2 top-2">✕</label>
            
            <h1 class="font-bold text-lg">{t('dashboard.options')}</h1>
            <br/>
            <a href={localizePath('/create')} class="btn btn-primary">
              {t('dashboard.createNewProcess')}
            </a>
            <br/>
            
            <form action="/api/add-by-uuid" method="post">
              <input type="text" name="uuid" class="input input-bordered" required />
              <button type="submit" class="btn m-2">
                {t('dashboard.addByUUID')}
              </button>
            </form>
            <br/>
            
            <form action="/api/import-csv" method="post" enctype="multipart/form-data">
              <input type="file" name="file" accept=".csv" required />
              <button type="submit" class="btn m-2">
                {t('dashboard.importCSV')}
              </button>
            </form>
          </div>
        </div>
      </div>
      <input type="file" class="hidden" id="fileInput" accept=".csv" />
    </div>
  )}
</BaseLayout>
<style>
  .empty-state {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    text-align: center;
  }

</style>