---
import { t, changeLanguage } from "i18next";
import BaseLayout from "templates/BaseLayout.astro";
import ContentDoc from "atoms/ContentDoc.astro";

changeLanguage("en");
---

<BaseLayout title={t('buttons.donate')} description={t('description')}>
    <h1>{ t('buttons.donate') }</h1>
    <ContentDoc file_name="Donate"/>

    <ul>
        <li>
            <a class="link link-primary" href="https://github.com/sponsors/waotzi">Github sponsors</a>
        </li>
    </ul>
</BaseLayout>