---
import BaseLayout from "templates/BaseLayout.astro";
import { localizePath } from "astro-i18next";
import { t, changeLanguage } from "i18next";
import ContentDoc from "atoms/ContentDoc.astro";
import logo from "../assets/logo.png";

changeLanguage("en");
---

<style>
@keyframes rotate {
  from {
    transform: rotate(0deg);
  }
  to { 
    transform: rotate(360deg);
  }
}

#logo.trippy {
    animation: rotate 0.5s infinite linear;

}

</style>
<BaseLayout title="Ukuvota" >
	<div class="text-center">
		<div class="pt-4 flex justify-center">
			<img id="logo" class="flex justify-center cursor-pointer" alt="Ukuvota logo" width="128px" src={logo}>
		</div>
		<h1>Ukuvota</h1>
	</div>
	<ContentDoc file_name="Introduction"/>

	<div class="text-center">
		<a href={localizePath("/quick/create")} class="btn btn-primary btn-md">{ t('buttons.start_quick') }</a>  
	</div>
</BaseLayout>
<script>

const logo: HTMLImageElement = document.querySelector('#logo')
logo.addEventListener('click', () => {
	if (logo.classList.contains('trippy'))
		logo.classList.remove('trippy')
	else
		logo.classList.add('trippy')
})

</script>