---
import BaseLayout from "templates/BaseLayout.astro";
import { t, changeLanguage } from "i18next";
import CreateProcess from "organisms/CreateProcess.vue";
import ContentDoc from "atoms/ContentDoc.astro";

changeLanguage("en");
---

<BaseLayout>
  <div>
    <h2>{ t('process.startProcess') }</h2>
    <ContentDoc file_name="Introduction"/>
  </div>
  <process-form>
    <CreateProcess client:only="vue"/>
  </process-form>
</BaseLayout>

<script>
  import { loadingLogo } from 'composables/loadingLogo'
  class ProcessForm extends HTMLElement {
    constructor() {
      super()
      const component = this.querySelector('astro-island')
      if (component.innerHTML === "") {
        component.innerHTML = loadingLogo()
      }
    }
}
  customElements.define('process-form', ProcessForm)

</script>