---
import { t, changeLanguage } from "i18next";
import CreateProcessLayout from "layouts/CreateProcessLayout.astro";
import weightingOptions from "helpers/weightingOptions";
import Modal from "@/ui/Modal.astro";
import ContentDoc from "@/ui/ContentDoc.astro";
import { parseCookie } from "helpers/cookieHelpers";

changeLanguage("en");

const cookieHeader = Astro.request.headers.get("cookie");
const parsedCookies = cookieHeader ? parseCookie(cookieHeader) : {};
const { weighting = "", title = "", description = "" } = parsedCookies;
---

<CreateProcessLayout step={1} title={t('buttons.home')} description={t('description')}>
  <form action='/api/process-store' method="POST">
    <input type="hidden" name="step" value="1" />
    <div id="scrollTopicQuestion" />
    <p>{ t('process.topic') }</p>
    <input 
      id="topicQuestion" 
      name="topicQuestion" 
      class="input input-bordered w-full" 
      type="text" 
      value={title} 
      required 
      title={t('alert.error.topicQuestion')}
    />
    <br/>
    <p>{ t('process.description') }</p>
    <div id="description" />
    <textarea id="nojsdescription" name="description" class="textarea textarea-bordered w-full">{description}</textarea>

    <details class="text-center">
      <summary class="cursor-pointer text-indianared mt-6 ">{ t('process.advancedOptions') }</summary>
        <div class="flex justify-center items-center">
          <span>{ t('process.weighting') }</span>
          <span class="flex justify-center items-center">
            <select id="select" name="weighting" class="select mx-2 select-bordered mt-2" value={weighting}>
              {weightingOptions.map(weight => (
                <option value={weight.value}>
                  { Number(weight.value) > 0 ? <span>{ weight.label }</span> : <span>&infin;</span> }
                </option>
              ))}
            </select>
            
            <Modal id="weightingInfo">
              <h3>{ t('process.weighting') }</h3>
              <ContentDoc file_name="NegativeScoreWeighting"/>
            </Modal>
          </span>
        </div>
      </div>
    </details>
    <br/>
    <div class="flex justify-center">
      <input type="submit" class="btn btn-primary" value="Next">
    </div>
  </form>
</CreateProcessLayout>


<script>
  import { createQuill, updateQuill } from "composable/quillUtils";
  const temp_des = document.getElementById('nojsdescription') as HTMLElement;
  temp_des.style.display = 'none';
  const quillEditor = createQuill('#description');

  quillEditor.on('text-change', () => {
      const quillContent = document.getElementById('nojsdescription') as HTMLTextAreaElement;
      quillContent.value = quillEditor.root.innerHTML;
  });

</script>