---
// Import statements remain the same
import { t, changeLanguage } from "i18next";
import CreateProcessLayout from "@layouts/CreateProcessLayout.astro";

changeLanguage("en");
---

<CreateProcessLayout step={2}>
  <form action='/api/process-store' method="POST">
    <input type="hidden" name="step" value="2" />
    <div class="flex justify-around flex-wrap">
      <button type="submit" name="phase" value="full" class="btn btn-primary m-2">{ t('process.phases.full') }</button>
      <button type="submit" name="phase" value="voting" class="btn btn-primary m-2">{ t('process.phases.voting') }</button>
    </div>
  </form>
</CreateProcessLayout>
