
---
import { t } from "astro-i18n";
import CreateProcessLayout from "@layouts/CreateProcessLayout.astro";


---

<CreateProcessLayout step={4} title={t('buttons.home')} description={t('description')}>
  <h2 class="flex justify-center mt-4">{ t('process.review') }</h2>
</CreateProcessLayout>

<script>
</script>  
