
---
import { t, changeLanguage } from "i18next";
import CreateProcessLayout from "layouts/CreateProcessLayout.astro";

changeLanguage("en");
---

<CreateProcessLayout step={4} title={t('buttons.home')} description={t('description')}>
  <h2 class="flex justify-center mt-4">{ t('process.review') }</h2>
</CreateProcessLayout>

<script>
</script>  
