---
import { t, changeLanguage } from "i18next";
import CreateProcessLayout from "layouts/CreateProcessLayout.astro";
import PhaseSelector from "@/process/PhaseSelector.astro";

import AddProposals from "@/process/AddProposals.astro";
import EditProposalList from "@/process/EditProposalList.astro";

changeLanguage("en");
---

<CreateProcessLayout step={3} title={t('buttons.home')} description={t('description')}>
  <h2>{t('process.timeLeftVotingHeading')}</h2>
  <br/>
  <TimeSelector phase="voting"/>
  <hr class="mt-4"/>
  <h2>{ t('process.proposals') }</h2>    
  <EditProposalList />
  <AddProposals />
</CreateProcessLayout>

<script>
  import { process } from 'stores/processStore';
  const $process = process.get();

  const fullPhase = document.getElementById('full-phase') as HTMLInputElement;
  fullPhase.addEventListener('click', () => process.setKey('phases', 'full'));
  fullPhase.checked = $process.phases === 'full';
  
  const votingPhase = document.getElementById('voting-phase') as HTMLInputElement;
  votingPhase.addEventListener('click', () => process.setKey('phases', 'voting'));
  votingPhase.checked = $process.phases === 'voting';

</script>  
