---
import { t } from "astro-i18n";
import CreateProcessLayout from "@layouts/CreateProcessLayout.astro";
import AddProposals from "@components/process/AddProposals.astro";
import EditProposalList from "@components/process/EditProposalList.astro";
import TimeSelector from "@components/datetime/TimeSelector.astro";


---

<CreateProcessLayout step={3}>
  <h2>{t('setup.selectTimeForVoting')}</h2>
  <br/>
  <TimeSelector phase="voting"/>
  <br/>
  <h2>{ t('setup.proposals') }</h2>    
  <EditProposalList />
  <br/>
  <AddProposals />
</CreateProcessLayout>
