---
import { t, changeLanguage } from "i18next";
import CreateProcessLayout from "layouts/CreateProcessLayout.astro";
import AddProposals from "@/process/AddProposals.astro";
import EditProposalList from "@/process/EditProposalList.astro";
import TimeSelector from "@/datetime/TimeSelector.astro";

changeLanguage("en");
---

<CreateProcessLayout step={3}>
  <h2>{t('setup.selectTimeForVoting')}</h2>
  <br/>
  <TimeSelector phase="voting"/>
  <br/>
  <h2>{ t('setup.proposals') }</h2>    
  <EditProposalList />
  <br/>
  <AddProposals />
</CreateProcessLayout>
