---
interface Props {
    id: string

}
const { id } = Astro.props;

import { Icon } from 'astro-icon'

---
<label for={id} class="btn btn-ghost btn-sm btn-circle">
  <Icon width="22" name="information"/>
</label>

<input type="checkbox" id={id} class="modal-toggle" />
<div class="modal">
  <div class="modal-box">
    <label for={id} class="btn btn-sm btn-circle absolute right-2 top-2">
      <Icon width="22" name="close"/>
    </label>
    <slot/>
  </div>
</div>
