---
import logo from "@assets/logo.png";
import { t, changeLanguage } from "i18next";
import BaseLayout from "@layouts/BaseLayout.astro";
import ContentDoc from "@components/ui/ContentDoc.astro";
import { localizePath } from "astro-i18next";
import Footer from "@components/navigation/Footer.astro";

changeLanguage("de");
---

<BaseLayout title={t('buttons.about')} description={t('description')}>
    <div class="flex items-center flex-col">
      <img width="128" id="logo" alt="Evotico logo" src={logo.src} />
      <h1>Evotico</h1>
    </div>

    <ContentDoc file_name="Introduction"/>
    <br/>
    <div class="flex justify-center">
      <a href={localizePath('/create')} class="btn p-2 btn-primary">{t('process.setup')}</a>
    </div>
    <br/><br/>
    <Footer/>
</BaseLayout>
