---
import logo from "@assets/logo.png";
import { t, changeLanguage } from "i18next";
import BaseLayout from "@layouts/BaseLayout.astro";
import ContentDoc from "@components/ui/ContentDoc.astro";
import { localizePath } from "astro-i18next";
import Footer from "@components/navigation/Footer.astro";

changeLanguage("de");
---

<BaseLayout title={t('buttons.about')} description={t('description')}>
    <div class="flex items-center flex-col">
      <img width="128" id="logo" alt="Evotico logo" src={logo.src} />
      <h1>Evotico</h1>
      <h2>Voting Made Simple, Secure, and Empowering</h2>
    </div>

    <ContentDoc file_name="Introduction"/>
    <div class="flex justify-center">
      <a class="btn text-btn m-2" href={localizePath('/create')}>Start Process</a>
      <a class="btn text-btn m-2" href={localizePath('/download')}>Download the App</a>
    </div>
    <br/>

    <Footer/>
</BaseLayout>
