---
import { t, changeLanguage } from "i18next";
import BaseLayout from "templates:BaseLayout";

changeLanguage("de");
---

<BaseLayout>
    <h1>{ t('nav.donate') }</h1>
    <ul>
        <li>
            <a class="link link-primary" href="https://en.liberapay.com/ukuvota">Liberapay</a>
        </li>
        <li>
            <a class="link link-primary" href="https://patreon.com/ukuvota">Patreon</a>
        </li>
    </ul>
</BaseLayout>