@tailwind base;
@tailwind components;
@tailwind utilities;
html, body {
    padding: 0;
    margin: 0;
}

body {
    width: 100%;
    height: 100vh;
    transition-property: all;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
    transition-duration: 150ms;
    scroll-behavior: smooth;
    font-size: 18px;
    margin: auto;
}


main {
    max-width: 900px;
    width: 100%;
    padding: 2rem;
    scroll: smooth;
    margin: auto;

}
a {
    color: indianred;
}
a:hover {
    color: #b63838;
}
.link, .link:hover, .btn, .btn:hover  {
    text-decoration: none;
}
p, li {
    margin-block-start: 1em;
    margin-block-end: 1em;
    transition: background-color 0.1s ease-in-out;
}

h1 { font-size: 2em; margin: .67em 0 }
h2 { font-size: 1.5em; margin: .75em 0 }
h3 { font-size: 1.17em; margin: .83em 0 }

ul {
    list-style: initial;
    margin: initial;
    padding: 0 0 0 40px;
}
li {
    display: list-item;
}

.dp__theme_dark {
    --dp-primary-color: indianred !important;
    --dp-disabled-color: #444 !important;
    --dp-success-color: #61D161 !important;
}
.dp__theme_light {
    --dp-primary-color: indianred !important;
    --dp-disabled-color: #ccc !important;
    --dp-background-color: #f6f0f6 !important;
    --dp-secondary-color: #666 !important;
    --dp-hover-color: #ddd !important;
    --dp-success-color:  #439243 !important;
}
.dp__cell_disabled {
    color: var(--dp-disabled-color) !important;
}

.dp__arrow_top {
    display: none;
}

hr {
    border-top: 2px solid gray;
}

.ql-hidden {
    display: none !important;
}

.ql-toolbar, .ql-container {
    border-color: hsl(var(--bc) / var(--tw-border-opacity));
}


.dark .ql-container, .dark .ql-toolbar  {
  border-color: #444  !important;
}
.dark .ql-container {
  background-color: hsl(var(--b1) / var(--tw-bg-opacity)) !important;
}
.ql-container {
  background-color: #f6f0f6 !important;
}
.dark button:not(:hover) .ql-stroke {
    stroke: #d0d0d0 ;
}

.dark button:not(:hover) .ql-fill {
    fill: #d0d0d0 ;
}
  
footer {
    padding-bottom: 1rem;
}