<style>
    .alert-list {
      position: fixed;
      top: 2rem;
      left: 0;
      right: 0;
    }
</style>
<div class="alert-manager">
    <div class="m-0 p-0 flex flex-col items-center alert-list">
        <slot/>
    </div>
</div>

