---
import { t } from "i18next"
import { localizePath } from "astro-i18next";
import { getAssets } from "composables/getAssets"

const icons = getAssets(await Astro.glob('../../assets/icons/*.png'));
const getIcon = (name: string) => {
    return icons.find(icon => icon.name === name)?.src
}
const menu = [
    {
        href: 'mailto:support@ukuvota.world',
        icon: 'email',
    },
    {
        href: 'https://twitter.com/ukuvota',
        icon: 'twitter',
    },
    {
        icon: 'telegram',
        href: 'https://t.me/Ukuvota',
        light: true,
    },
    {
        href: 'https://github.com/waotzi/ukuvota',
        icon: 'github',
    },
]


---


<style>
    footer {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: flex-end;
        width: 100%;
    }
    .icon {
        display: flex;
    }
    .icon a {
        padding: 0.5rem;
    }
    .links {
        display: flex;
        flex-wrap: wrap;
        word-break: break-all;
        justify-content: center;
    }
</style>
    
<footer>
    <div class="icon">
        {menu.map((item) => (
        <>
            <a href={item.href} target="_blank" rel={item.icon}>
                <img width="32" src={ getIcon(item.icon) } />
            </a>
        </>
        ))}
    </div>
    <div class="links">
        <span>{ t('footer.powered') }
            <a class="link link-primary" href="https://astro.build/">astro</a>.
        </span>&nbsp;
        <span>
            { t('footer.supported') }
            <a class="link link-primary" href={localizePath('/donate')}>
                { t('footer.donations') }.
            </a>
        </span>&nbsp;
        <span>
            { t('footer.maintained') }
            <a class="link link-primary" href="https://waotzi.org">waotzi</a>.
        </span>
    </div>
</footer>
