---
import Navigation from "organisms/Navigation.astro";
import logo from "assets/logo.png";
import { t } from "i18next";

---
<style>
    @keyframes rotate {
        from {
            transform: rotate(0deg);
        }
        to { 
            transform: rotate(360deg);
        }
	}

	#logo.trippy {
		animation: rotate 1s infinite linear;

	}
</style>

<div class="text-center">
    <div class="pt-4 flex justify-center">
        <img id="logo" class="flex justify-center cursor-pointer" alt="Ukuvota logo" width="128px" src={logo}>
    </div>
    <h1>Ukuvota</h1>
    <h2>{ t('tagline') }</h2>
    <Navigation/>
</div>

<script>
    const lang = document.getElementsByTagName('html')[0].getAttribute('lang')
    const pathname = window.location.pathname
    const logo: any = document.querySelector('img#logo')
    logo.addEventListener('click', () => {
        console.log(pathname)
        if (pathname === '/' || pathname === `/${lang}/`) {
            if (logo.classList.contains('trippy'))
                logo.classList.remove('trippy')
            else
                logo.classList.add('trippy')
        }
        else {
            location.href = lang === 'en' ? '/' : '/' + lang
        }
    })

</script>