---
import Navigation from "organisms/Navigation.astro";
import logo from "assets/logo.png";
import { t } from "i18next";

---
<style>
</style>

<div class="text-center">
    <div class="pt-12 flex justify-center">
        <img id="logo" class="flex justify-center cursor-pointer" alt="Ukuvota logo" width="128px" src={logo.src}>
    </div>
    <h1>Ukuvota</h1>
    <h2>{ t('tagline') }</h2>
    <Navigation/>
</div>

<script>
    const lang = document.getElementsByTagName('html')[0].getAttribute('lang')
    const logo: any = document.querySelector('img#logo')
    logo.addEventListener('click', () => {
        location.href = lang === 'en' ? '/' : '/' + lang
    })

</script>