---
import { Icon } from 'astro-icon'
import i18next, { t } from "i18next";
import { localizePath } from "astro-i18next";
import ThemeSelector from 'molecules/ThemeSelector.vue'
import ISO6991 from "iso-639-1";

const supportedLanguages = i18next.languages;
const currentLanguage = i18next.language;

const { pathname } = Astro.url;

interface MenuItem {
  path: string
  label: String
}
const menu: MenuItem[] = [
  {
    path: '/',
    label: 'home',
  },
  {
    path: '/donate',
    label: 'donate',
  }
]


const selected = (item: MenuItem) => {
  const pathname = Astro.url.pathname;

  if (pathname.includes(item.path) && item.path !== '/') {
    return 'selected';
  }

  if (item.path === pathname) {
    return 'selected';
  }

  if (item.path + i18next.language === pathname) {
    return 'selected';
  }

  return '';
}

---
<style is:inline>
  .sun { display: none; }
  .moon { display: block; }

  :global(.dark) .sun { display: block; }
  :global(.dark) .moon { display: none; }

  .btn-link {
    color: inherit;
  }
  .btn-link:hover{
    color: indianred;
  }
  .selected {
    color:indianred !important;
  }
  @media screen and (max-width: 400px) {
    .label {
      display: none;
    }
  }
  
</style>

<div class="flex flex-col">
  <div class="flex justify-center items-center">
    { menu.map((item) => (
      <>
        <a class={'btn btn-link ' + selected(item)} href={localizePath(item.path)}>
          <span class="flex items-center"> 
            <p class="label pl-1">{t('buttons.' + item.label)}</p>
          </span>
        </a>
      </>
    ))}
  </div>
  <br/>
  <div class="flex justify-center items-center">
    <select class="select select-xs mx-2" onchange="location = this.value">
      {
        supportedLanguages.map((supportedLanguage: string) => {
          const value = localizePath(pathname, supportedLanguage);
          const nativeName = ISO6991.getNativeName(supportedLanguage);

          return (
          <option selected={supportedLanguage === currentLanguage} value={value}>{ nativeName }</option>

          )
        }
      )}
    </select>

    <div>
      <ThemeSelector client:only="vue">
        <Icon class="sun" width="22" name="sun"/>
        <Icon class="moon" width="22" name="moon" />
      </ThemeSelector>
    </div>
  </div>
</div>



