---
import { t } from 'i18next'
import format from 'composables/format'
import Countdown from "molecules/Countdown.vue";

interface Props {
    phase: string,
    dates: number[]
}

const { phase, dates} = Astro.props;

---

<span>{ t(`phases.${phase}.title`) }:&nbsp;</span>

{ 
    +new Date() < dates[0] ? (
        <br/>
        <span>{ t(`phases.start`) }:&nbsp;</span>
        <span class="link-success">{  format(new Date(dates[0]), 'PPPPpppp')}</span>
        <br/>
        <span>{ t(`phases.lastFor`) }:&nbsp;</span>
        <Countdown type="success" dates={dates} client:only/>
    ) : +new Date() < dates[1] ? (
        <br/>
        <Countdown dates={dates} type="warning" client:only/>
        <span>({ t('remainingTime') })</span>
    ) : <span class="text-info">{ t('done') }</span>
}
<br/>

