---
import { Icon } from 'astro-icon'
import { t } from 'i18next';

import { weightingOptions } from "composables/weightingOptions";
import WeightingInfo from 'molecules:WeightingInfo';
import QRCode from 'atoms:QRCode'

const { url } = Astro;

interface Props {
    title: string,
    description: string,
    weighting: string,
}

const { title, description, weighting } = Astro.props;
const weight = weightingOptions()[Number(weighting) - 1].label

---

<div class="flex flex-col px-4 pb-3">
    <div class="card-body">
        <h1 class="card-title">{ title }</h1>
        <p>{ description }</p>
        <div id="infoCard" class="flex flex-wrap items-center justify-center">
            <slot/>
            <div class="flex flex-col justify-center items-center w-60">
                <h3>{ t('quick.weighting') }</h3>
                <div class="flex items-center">
                    {weight}
                    <WeightingInfo/>
                </div>
            </div>
        </div>
        <div class="w-full pr-2">
            <p>{ t('quick.shareableUrl') }</p>
            <div class="flex items-center">

                <input id="shareableUrl" type="text" class="input w-full" readonly value={ url.href }/>
                <label for="qr-code-modal" class="btn btn-ghost btn-circle m-2">
                    <Icon width="22" name="qr-code"/>
    
                </label>

            </div>
        </div>

              
                          
    </div>
</div>

<input type="checkbox" id="qr-code-modal" class="modal-toggle" />
<div class="modal">
  <div class="modal-box">
    <label for="qr-code-modal" class="btn btn-sm btn-circle absolute right-2 top-2">
      <Icon width="22" name="close"/>

    </label>
    <h3>{ t('quick.qrcode') }</h3>
    <div class="flex justify-center">
        <QRCode text="Astro.url.href" />
    </div>
  </div>
</div>

<script>
const sharaeableUrl: HTMLInputElement = document.querySelector('input#shareableUrl')
sharaeableUrl.addEventListener('click', () => {
    sharaeableUrl.focus()
    sharaeableUrl.select()
    sharaeableUrl.setSelectionRange(0, 99999);
    navigator.clipboard.writeText(sharaeableUrl.value);

})
</script>