---
import { process } from 'stores/processStore';
/* @ts-ignore */
import DatetimePicker from 'molecules/DatetimePicker.vue';
import DatetimeSlider from 'molecules/DatetimeSlider.astro'
import { t } from 'i18next';

interface Props {
    phase: string
}

const { phase } = Astro.props;
const title = t(`phases.${phase}.title`)
---

<div>
  <h2 class="title">{ title }</h2>
  <h3>{ t(`phases.startAt`) }:</h3>
  <DatetimePicker phase={phase} index={0} client:only="vue" />
  <h3>{ t(`phases.endsAt`) }:</h3>
  <DatetimePicker phase={phase} index={1} client:only="vue" />
  
  <DatetimeSlider phase={phase} />
  <br/>
</div>  

