---
import BaseLayout from 'layouts/BaseLayout.astro'
import Alert from "@/ui/Alert.astro";
import AlertList from "@/ui/AlertList.astro";
import { parseCookie } from 'helpers/cookieHelpers'
import { t } from "i18next";

interface Props {
    title: string,
    description: string,
    step: number,
}

const { title, description, step } = Astro.props;

const cookieHeader = Astro.request.headers.get('cookie');
const parsedCookies = cookieHeader ? parseCookie(cookieHeader) : {};
const { phases = '' } = parsedCookies;

// Define the steps and their respective links outside the template.
const steps = [
  { stepNumber: 1, href: "/create" },
  { stepNumber: 2, href: "/create/phases" },
  { stepNumber: 3, href: phases === 'full' ? "/create/full-process" : "/create/voting-only" },
  { stepNumber: 4, href: "/create/review" }
];
---

<BaseLayout title={title} description={description}>
  <h1>Setup Process</h1>

  <div class="flex justify-center space-x-2">
    {steps.map(({ stepNumber, href }) => (
      <a href={href}>
        <div class={`w-4 h-4 rounded-full ${
          step === stepNumber ? 'bg-indianred' : 
          step > stepNumber ? 'bg-lightred' : 
          'bg-gray-300'
        }`}></div>
      </a>
    ))}
  </div>
  <slot/>

  <br/>

  <AlertList>
    <Alert icon="warning" error>{ t('alert.error.topicQuestion') }</Alert>
    <Alert icon="checkmark-outline" success>{ t('alert.success.createProcess') }</Alert>
    <Alert icon="warning" error>{ t('alert.error.proposalsMissing') }</Alert>
    <Alert icon="warning" error>{ t('alert.error.payloadSizeTooLarge') }</Alert>
    <Alert icon="checkmark-outline" warning>{ t('alert.success.creatingProcess') }</Alert>
  </AlertList>
</BaseLayout>
