---
import BaseLayout from 'layouts/BaseLayout.astro'
import Alert from "@/ui/Alert.astro";
import AlertList from "@/ui/AlertList.astro";
import { t } from "i18next";
import { process } from 'stores/processStore';

const $process = process.get();

interface Props {
    title: string,
    description: string,
    step: number,
}

const { title, description, step} = Astro.props;
---

<BaseLayout title={title} description={description}>
  <h1>Setup Process</h1>

  <!-- Step Indicator -->
  <div class="flex justify-center space-x-2">
    <!-- Step 1 -->
    <a href="/create">
      <div class={`w-4 h-4 rounded-full ${step === 1 ? 'bg-indianred' : 'bg-gray-300'}`}></div>
    </a>
  
    <!-- Step 2 -->
    <a href="/create/phases">
      <div class={`w-4 h-4 rounded-full ${step === 2 ? 'bg-indianred' : 'bg-gray-300'}`}></div>
    </a>
  
    <!-- Step 3 -->
    <a href={$process.phases === 'full' ? "/create/full-process" : "/create/voting-only"}>
      <div class={`w-4 h-4 rounded-full ${step === 3 ? 'bg-indianred' : 'bg-gray-300'}`}></div>
    </a>
  
    <!-- Step 4 -->
    <a href="/create/review">
      <div class={`w-4 h-4 rounded-full ${step === 4 ? 'bg-indianred' : 'bg-gray-300'}`}></div>
    </a>
  
  </div>
  <slot/>
  <!-- Buttons -->
  <div class="flex justify-center mt-6 space-x-4">
    {step === 1 ? 
      <a href="/create/phases" class="btn btn-primary">Next</a> :
      ''
    }
    
    {step === 3 ? 
      <>
        <a href="/create/phases" class="btn btn-primary">Back</a>
        <a href="/create/review" class="btn btn-primary">Next</a>
      </> :
      ''
    }
    
    {step === 4 ? 
      <button class="btn btn-primary">Start Process</button> :
      ''
    }
  </div>

  <br/>

  <AlertList>
    <Alert icon="warning" error>{ t('alert.error.topicQuestion') }</Alert>
    <Alert icon="checkmark-outline" success>{ t('alert.success.createProcess') }</Alert>
    <Alert icon="warning" error>{ t('alert.error.proposalsMissing') }</Alert>
    <Alert icon="warning" error>{ t('alert.error.payloadSizeTooLarge') }</Alert>
    <Alert icon="checkmark-outline" warning>{ t('alert.success.creatingProcess') }</Alert>
  </AlertList>
</BaseLayout>