---
import BaseLayout from '@layouts/BaseLayout.astro'
import { t } from "astro-i18n";


interface Props {
    step: number,
}

const { step } = Astro.props;



type ProcessCookie = {
  phases?: string;
  title?: string;
};

const processCookie = JSON.parse(Astro.cookies.get('process')?.value || '{}');

const {
  phases = "",
  title = "",
} = processCookie as ProcessCookie

console.log(processCookie)

// Define the steps and their respective links outside the template.
const steps = [
  { stepNumber: 1, href: "/create" },
  { stepNumber: 2, href: "/create/phases", disabled: !title },
  { stepNumber: 3, href: phases === 'full' ? "/create/full-process" : "/create/voting-only", disabled: (!title && !phases) },
  { stepNumber: 4, href: "/create/review", disabled: (!title && !phases) }
];

---

<BaseLayout title={t('setup.process')} description={t('description')}>
  <h1 class="text-center">{ () => t('setup.process') }</h1>
  <div class="flex justify-center space-x-2 m-2">
    {steps.map(({ stepNumber, href, disabled }) => (
      <a href={href} class={disabled ? 'pointer-events-none' : ''}>
        <div class={`w-4 h-4 rounded-full ${
          step === stepNumber ? 'bg-linkbg ring ring-blue-300' : 
          step > stepNumber ? 'bg-linkbg' : 
          'bg-gray-300'
        } ${disabled ? 'bg-gray-500' : ''}`}></div>
      </a>
    ))}
  </div>
  <slot/>
</BaseLayout>
