---
import { t } from 'astro-i18n';
import AddProposals from "@components/process/AddProposals.astro";
import EditProposalList from "@components/process/EditProposalList.astro";
import TimeSelector from "@components/datetime/TimeSelector.astro";
type Props = {
  phase: string;
}
const { phase } = Astro.props;

---
<div>
  { phase === "full" ? (
    
  <h2 class="flex justify-center mt-4">{() => t('process.timeLeftHeading')}</h2>
  <br/>
  <TimeSelector phase="proposal"/>  
  <TimeSelector phase="voting"/>  

  ) : phase === "voting" ? ( 
    <h2>{() => t('setup.selectTimeForVoting')}</h2>
    <br/>
    <TimeSelector phase="voting"/>
    <br/>
    <h2>{ () => t('setup.proposals') }</h2>    
    <EditProposalList />
    <br/>
    <AddProposals />
  ) : null }
</div>